
.owl-carousel {
    position: relative;
    .owl-nav {
      position: absolute;
      width: 100%;
      height: 0;
      top: calc(50% - 16px);
      left: 0;
      display: flex;
      justify-content: space-between;
      button {
        transform: translateY(-50%);
        background: $color-main !important;
        color: #fff !important;
        height: 32px;
        width: 32px;
        border-radius: 32px!important;
      }
    }
  }
  
  .slide_image_about{
    aspect-ratio: 3/2;
    cursor: zoom-in;
    object-fit: cover;
  }
  
  .owl-carousel {
    position: relative;
    .owl-nav {
      position: absolute;
      width: 100%;
      height: 0;
      top: calc(50% - 16px);
      left: 0;
      display: flex;
      justify-content: space-between;
      button {
        border-radius: 0;
        transform: translateY(-50%);
        background: $color-main !important;
        color: #fff !important;
        height: 48px;
        width: 48px;
      }
    }
  }
  
  .owl-prev span{
     display: inline-block;
     position: relative;
     top: -4px;
     width: 30px;
     left: -1px;
     font-size: 36px;
  }
  
  .owl-next span{
     display: inline-block;
     position: relative;
     top: -4px;
     left: 1px;
     font-size: 36px;
  }
  
  .owl-dots{
    margin-top: 16px;
  }
  